<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
  <title>chatpy.io</title>
</head>
<body>
  <div class="chat-container">
    <nav class="nav-sidebar">
      <div class="nav-top">
        <div class="nav-icon action-button">
          <i class="fas fa-comment"></i>
        </div>
        <div class="unread-total">6</div>
      </div>
      <div class="nav-bottom">
        <div class="dropdown">
          <div class="nav-icon action-button cursor-pointer" id="settings-button">
            <i class="fas fa-cog"></i>
          </div>
          <div id="dropdown-menu" class="dropdown-menu">
            <a href="/logout">
              <i class="fas fa-sign-out-alt"></i>
              Cerrar sesión
            </a>
          </div>
        </div>
        <div class="user-avatar">
          <img src="https://media-mia3-1.cdn.whatsapp.net/v/t61.24694-24/461338513_543649241643596_1140871026957553677_n.jpg?ccb=11-4&oh=01_Q5AaIDUIt2ARpZvXBf1kgVemO0mwXtykj8ZxR0YDgFMIlL_S&oe=67AC9A42&_nc_sid=5e03e0&_nc_cat=108" alt="Tú">
        </div>
      </div>
    </nav>

    <aside class="chat-sidebar">
      <div class="sidebar-header">
        <h1>Chats</h1>
        <div class="header-icons">
          <button class="action-button" id="add-contact-button">
            <i class="fas fa-user-plus"></i>
          </button>
          <button class="action-button" id="create-group-button">
            <i class="fas fa-users"></i>
          </button>
          <button class="action-button">
            <i class="fas fa-ellipsis-v"></i>
          </button>
        </div>
      </div>

      <div class="search-container">
        <i class="search-icon fas fa-search"></i>
        <input type="text" class="search-input" placeholder="Buscar">
      </div>

      <div class="filter-buttons">
        <button class="filter-button">Todos</button>
        <button class="filter-button">No leídos</button>
      </div>

      <div class="chat-list">
        <!-- Aquí se agregarán los items de chats (contactos y grupos) -->
      </div>
    </aside>

    <main class="chat-main">
      <header class="chat-header">
        <div class="header-left">
          <div class="avatar">
            <img src="https://media-mia3-1.cdn.whatsapp.net/v/t61.24694-24/473400983_937214201872149_888653449431714886_n.jpg?ccb=11-4&oh=01_Q5AaIKJDHgQXNi1AsuEgYc9hfxU4NxtyO4wBJG57nyDb_E33&oe=67AAC1D7&_nc_sid=5e03e0&_nc_cat=111" alt="Chat">
          </div>
          <div>
            <h2 id="chat-title">Chats</h2>
            <div id="chat-subtitle" style="color: #8f8f8f"></div>
          </div>
        </div>
        <div class="header-right">
          <button class="action-button">
            <i class="fas fa-search"></i>
          </button>
          <button class="action-button">
            <i class="fas fa-ellipsis-v"></i>
          </button>
        </div>
      </header>

      <div class="messages-container">
        <!-- Mensajes se cargarán aquí -->
      </div>

      <div class="message-input-container">
        <button class="action-button">
          <i class="fas fa-paperclip"></i>
        </button>
        <button class="action-button" id="emoji-button">
          <i class="fas fa-smile"></i>
        </button>
        <div class="message-input-wrapper">
          <input type="text" class="message-input" id="message-input" placeholder="Escribe un mensaje">
        </div>
        <button class="action-button" id="send-button">
          <i class="fas fa-paper-plane"></i>
        </button>
        <button class="action-button" id="mic-button">
          <i class="fas fa-microphone"></i>
        </button>
      </div>
    </main>
  </div>

  <!-- Modal para agregar contactos -->
  <div id="add-contact-modal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Agregar Contacto</h2>
      <form id="add-contact-form">
        <input type="text" id="contact-username" placeholder="Nombre de usuario" required>
        <button type="submit">Agregar</button>
      </form>
    </div>
  </div>

  <!-- Modal para crear grupo -->
  <div id="create-group-modal" class="modal">
    <div class="modal-content">
      <span class="close-button" id="close-group-modal">&times;</span>
      <h2>Crear Grupo</h2>
      <form id="create-group-form">
        <input type="text" id="group-name" placeholder="Nombre del grupo" required>
        <h3>Selecciona miembros</h3>
        <div id="group-members-list">
          <!-- Se cargarán los checkboxes de contactos -->
        </div>
        <h3>Selecciona administradores (opcional)</h3>
        <div id="group-admins-list">
          <!-- Se cargarán los checkboxes de contactos para admin -->
        </div>
        <button type="submit">Crear Grupo</button>
      </form>
    </div>
  </div>

  <template id="message-template-sent">
    <div class="message sent">
      <p></p>
      <div class="message-time"></div>
    </div>
  </template>

  <template id="message-template-received">
    <div class="message-group">
      <div class="avatar"></div>
      <div class="message received">
        <strong></strong>
        <p></p>
        <div class="message-time"></div>
      </div>
    </div>
  </template>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('connect', () => {
      console.log('Connected to server');
    });

    socket.on('disconnect', () => {
      console.log('Disconnected from server');
    });

    const sessionUserId = "{{ session['user_id'] }}";
    let currentChatUserId = null;
    let currentChatType = 'private';

    const settingsButton = document.getElementById('settings-button');
    const dropdownMenu = document.getElementById('dropdown-menu');
    let isOpen = false;

    document.getElementById('send-button').addEventListener('click', function () {
      const messageInput = document.getElementById('message-input');
      const message = messageInput.value;
      if (message.trim() !== '' && currentChatUserId) {
        const data = {
          sender: sessionUserId,
          receiver: currentChatUserId,
          type: currentChatType,
          message: message
        };
        socket.emit('send_message', data);
        messageInput.value = '';
      }
    });

    socket.on('new_message', (data) => {
      const { sender, receiver, message, type } = data;
      if (type === 'group') {
        if (currentChatType === 'group' && receiver === currentChatUserId) {
          addMessageToChat(sender, message, sender === sessionUserId ? 'sent' : 'received');
        } else {
          updateUnreadBadge(receiver);
        }
      } else {
        if (currentChatType === 'private' && (sender === currentChatUserId || receiver === currentChatUserId)) {
          addMessageToChat(sender, message, sender === sessionUserId ? 'sent' : 'received');
        } else {
          const chatId = (sender === sessionUserId) ? receiver : sender;
          updateUnreadBadge(chatId);
        }
      }
    });

    socket.on('new_group', (data) => {
      console.log("Nuevo grupo recibido:", data);
      addGroupChatItem(data);
    });

    socket.on('play_sound', () => {
      console.log("Evento 'play_sound' recibido, reproduciendo sonido...");
      var audio = new Audio('/static/notification.mp3');
      audio.play();
    });

    socket.on('group_list', (data) => {
      if (data.groups) {
        data.groups.forEach(group => addGroupChatItem(group));
      }
    });

    document.getElementById('emoji-button').addEventListener('click', function () {
      const messageInput = document.getElementById('message-input');
      messageInput.value += '😊';
    });

    function addMessageToChat(nombre, contenido, tipo = 'received', timestamp = null) {
      const templateId = tipo === 'sent' ? 'message-template-sent' : 'message-template-received';
      const template = document.getElementById(templateId).content.cloneNode(true);
      if (tipo === 'received') {
        template.querySelector('strong').textContent = nombre;
      }
      const timeString = timestamp ? new Date(timestamp).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })
        : new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
      template.querySelector('p').textContent = contenido;
      template.querySelector('.message-time').textContent = timeString;
      const messagesContainer = document.querySelector('.messages-container');
      messagesContainer.appendChild(template);
      scrollToBottom(messagesContainer);
    }

    function updateUnreadBadge(chatId) {
      const chatItems = document.querySelectorAll('.chat-item');
      chatItems.forEach(item => {
        if (item.dataset.id === chatId) {
          const badge = item.querySelector('.unread-badge');
          let count = parseInt(badge.textContent) || 0;
          badge.textContent = count + 1;
        }
      });
    }

    settingsButton.addEventListener('click', function (event) {
      event.stopPropagation();
      isOpen = !isOpen;
      dropdownMenu.classList.toggle('show');
      this.style.transform = isOpen ? 'rotate(180deg)' : 'rotate(0)';
      this.style.transition = 'transform 0.3s ease';
    });

    document.addEventListener('click', function (event) {
      if (!settingsButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
        dropdownMenu.classList.remove('show');
        settingsButton.style.transform = 'rotate(0)';
        isOpen = false;
      }
    });

    function scrollToBottom(container) {
      const scrollHeight = container.scrollHeight;
      container.scrollTo({
        top: scrollHeight,
        behavior: 'smooth'
      });
    }

    document.addEventListener('DOMContentLoaded', function () {
      const messagesContainer = document.querySelector('.messages-container');
      const scrollButton = document.createElement('button');
      scrollButton.className = 'scroll-bottom-button';
      scrollButton.innerHTML = '<i class="fas fa-arrow-down"></i>';
      scrollButton.style.display = 'none';
      document.querySelector('.chat-main').appendChild(scrollButton);

      messagesContainer.addEventListener('scroll', function () {
        const isNearBottom = messagesContainer.scrollHeight - messagesContainer.scrollTop - messagesContainer.clientHeight < 100;
        scrollButton.style.display = isNearBottom ? 'none' : 'block';
      });

      scrollButton.addEventListener('click', function () {
        scrollToBottom(messagesContainer);
      });

      loadContacts();
      loadGroups();
    });

    function loadMessagesWith(contactId) {
      fetch(`/get_messages_with/${contactId}`)
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            const messagesContainer = document.querySelector('.messages-container');
            messagesContainer.innerHTML = '';
            data.messages.forEach(message => {
              const msgType = message.sender === sessionUserId ? 'sent' : 'received';
              addMessageToChat(message.sender, message.message, msgType, message.sent_at);
            });
          } else {
            console.error('Error:', data.message);
          }
        })
        .catch(error => console.error('Error:', error));
    }

    function loadGroupMessages(groupId) {
      fetch(`/get_group_messages/${groupId}`)
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            const messagesContainer = document.querySelector('.messages-container');
            messagesContainer.innerHTML = '';
            data.messages.forEach(message => {
              const msgType = message.sender === sessionUserId ? 'sent' : 'received';
              addMessageToChat(message.sender, message.message, msgType, message.sent_at);
            });
          } else {
            console.error('Error:', data.message);
          }
        })
        .catch(error => console.error('Error:', error));
    }

    function addChatItem(contact) {
      const chatList = document.querySelector('.chat-list');
      const chatItem = document.createElement('div');
      chatItem.className = 'chat-item';
      chatItem.dataset.id = contact._id;
      chatItem.innerHTML = `
        <div class="avatar">
          <img src="${contact.profile_pic}" alt="${contact.username}">
        </div>
        <div class="chat-name">${contact.username}</div>
        <div class="chat-info"><span></span></div>
        <div class="chat-time"></div>
        <div class="unread-badge">0</div>
      `;
      chatItem.addEventListener('click', () => {
        currentChatUserId = contact._id;
        currentChatType = 'private';
        document.getElementById('chat-title').textContent = contact.username;
        document.getElementById('chat-subtitle').textContent = '';
        chatItem.querySelector('.unread-badge').textContent = '0';
        loadMessagesWith(contact._id);
      });
      chatList.appendChild(chatItem);
    }

    function addGroupChatItem(group) {
      const chatList = document.querySelector('.chat-list');
      const exists = [...chatList.children].some(item => item.dataset.id === group._id);
      if (exists) return;
      const chatItem = document.createElement('div');
      chatItem.className = 'chat-item';
      chatItem.dataset.id = group._id;
      chatItem.innerHTML = `
        <div class="avatar">
          <i class="fas fa-users" style="font-size: 2rem;"></i>
        </div>
        <div class="chat-name">${group.group_name}</div>
        <div class="chat-info"><span></span></div>
        <div class="chat-time"></div>
        <div class="unread-badge">0</div>
      `;
      chatItem.addEventListener('click', () => {
        currentChatUserId = group._id;
        currentChatType = 'group';
        document.getElementById('chat-title').textContent = group.group_name;
        document.getElementById('chat-subtitle').textContent = '';
        chatItem.querySelector('.unread-badge').textContent = '0';
        loadGroupMessages(group._id);
      });
      chatList.appendChild(chatItem);
    }

    function loadContacts() {
      fetch('/get_contacts')
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            data.contacts.forEach(contact => {
              addChatItem(contact);
            });
          } else {
            console.error('Error al cargar contactos:', data.message);
          }
        })
        .catch(error => console.error('Error:', error));
    }

     // Cargar contactos en el modal de grupo
     function loadContactsForGroup() {
      fetch('/get_contacts')
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            const membersListDiv = document.getElementById('group-members-list');
            const adminsListDiv = document.getElementById('group-admins-list');
            membersListDiv.innerHTML = '';
            adminsListDiv.innerHTML = '';
            data.contacts.forEach(contact => {
              if (contact._id === sessionUserId) return;
              let memberCheckbox = document.createElement('div');
              memberCheckbox.innerHTML = `<label><input type="checkbox" class="group-member-checkbox" value="${contact._id}"> ${contact.username}</label>`;
              membersListDiv.appendChild(memberCheckbox);

              let adminCheckbox = document.createElement('div');
              adminCheckbox.innerHTML = `<label><input type="checkbox" class="group-admin-checkbox" value="${contact._id}"> ${contact.username}</label>`;
              adminsListDiv.appendChild(adminCheckbox);
            });
          }
        })
        .catch(error => console.error('Error:', error));
    }

    // Envío del formulario para crear grupo
    createGroupForm.addEventListener('submit', function (event) {
      event.preventDefault();
      const groupName = document.getElementById('group-name').value;
      const memberCheckboxes = document.querySelectorAll('.group-member-checkbox');
      const adminCheckboxes = document.querySelectorAll('.group-admin-checkbox');
      let members = [];
      let admins = [];
      memberCheckboxes.forEach(chk => {
        if (chk.checked) {
          members.push(chk.value);
        }
      });
      adminCheckboxes.forEach(chk => {
        if (chk.checked) {
          admins.push(chk.value);
        }
      });
      fetch('/create_group', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          group_name: groupName,
          members: members,
          admins: admins
        })
      })
        .then(response => response.json())
        .then(data => {
          if (data.status === 'success') {
            alert('Grupo creado exitosamente');
            createGroupModal.style.display = 'none';
            addGroupChatItem(data.group);
          } else {
            alert('Error al crear grupo: ' + data.message);
          }
        })
        .catch(error => console.error('Error:', error));
    });

    const style = document.createElement('style');
    style.textContent = `
      .scroll-bottom-button {
        position: absolute;
        bottom: 80px;
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #056162;
        border: none;
        color: white;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
        transition: all 0.3s ease;
      }
      .scroll-bottom-button:hover {
        background-color: #0a7373;
        transform: translateY(-2px);
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 200;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
      }
      .close-button {
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
      }
    `;
    document.head.appendChild(style);

    //Configuración de Cloudinary
    const CLOUDINARY_CLOUD_NAME = 'dmyejrbs7';
    const CLOUDINARY_UPLOAD_PRESET = 'apuntes';

    document.getElementById('upload-avatar-link').addEventListener('click', function () {
      cloudinary.openUploadWidget({
        cloudName: CLOUDINARY_CLOUD_NAME,
        uploadPreset: CLOUDINARY_UPLOAD_PRESET,
        sources: ['local', 'url', 'camera'],
        multiple: false,
        cropping: true,
        croppingAspectRatio: 1,
        showSkipCropButton: false,
        maxImageFileSize: 2000000, // 2MB
        maxImageWidth: 1000,
        maxImageHeight: 1000,
        clientAllowedFormats: ["jpg", "jpeg", "png"]
      }, (error, result) => {
        if (!error && result && result.event === "success") {
          const imageUrl = result.info.secure_url;
          fetch('/update_avatar', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ avatar_url: imageUrl })
          })
            .then(response => response.json())
            .then(data => {
              if (data.status === 'success') {
                document.getElementById('user-avatar-img').src = imageUrl;
              } else {
                alert('Error al actualizar el avatar: ' + data.message);
              }
            })
            .catch(error => console.error('Error:', error));
        }
      });
    });
  </script>
</body>

</html>
